@layer utilities {
	.delay-100 {
		animation-delay: 100ms;
	}

	.delay-200 {
		animation-delay: 200ms;
	}

	.delay-300 {
		animation-delay: 300ms;
	}

	.delay-400 {
		animation-delay: 400ms;
	}

	.delay-500 {
		animation-delay: 500ms;
	}

	.animate-on-scroll {
		opacity: 0;
	}

	.animate-slide-left {
		opacity: 0;
	}

	.animate-slide-right {
		opacity: 0;
	}

	.animate-zoom {
		opacity: 0;
	}
}
