@keyframes chatShow {
	from {
		opacity: 0;
		transform: scale(0.95) translateY(10px);
	}

	to {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

.chat-window-active {
	display: flex !important;
	animation: chatShow 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

#stilco-chat-messages::-webkit-scrollbar {
	width: 4px;
}

#stilco-chat-messages::-webkit-scrollbar-track {
	background: transparent;
}

#stilco-chat-messages::-webkit-scrollbar-thumb {
	background-color: #cbd5e1;
	border-radius: 4px;
}

.typing-dot {
	animation: typing 1.4s infinite ease-in-out both;
}

.typing-dot:nth-child(1) {
	animation-delay: -0.32s;
}

.typing-dot:nth-child(2) {
	animation-delay: -0.16s;
}

@keyframes typing {
	0%,
	80%,
	100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1);
	}
}
