.no-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

#main-product-image {
	transition: opacity 0.15s ease-in-out, transform 0.5s ease-in-out;
}

#main-product-image.is-image-loading {
	opacity: 0.5;
}
